.App {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.textareaResult {
  background-color: #e9ecef;
  cursor: pointer;
}
.active:focus{
    border-color: #17e24c;
    box-shadow: none;
}